<link rel="stylesheet" href="public/stylesheets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/public/stylesheets/style.css">
<script src="/public/jquery-3.3.1.js"></script>


 <div class="container">
 <div class="row main-form">
 <form id="myForm" class="" method="POST" action="/login">

 <div class="form-group">
 <label for="name" class="cols-sm-2 control-label">Логин</label>
 <a href="/registration">Регистрация</a>
 <div class="cols-sm-10">
 <div class="input-group">
 <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
 <input type="text" class="form-control" name="login" id="login" placeholder="Введите Ваш Логин"/>
 </div>
 </div>
 </div>


 <div class="form-group">
 <label for="password" class="cols-sm-2 control-label">Пароль</label>
 <div class="cols-sm-10">
 <div class="input-group">
 <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
 <input type="password" class="form-control" name="password" id="password" placeholder="Введите Ваш Пароль"/>
 </div>
 </div>
 </div>


 <div class="form-group ">
 <button  target="_blank" type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Войти</button>
 </div>

</form>
</div>
 </div>


</script>
